body {
    font-family: 'Segoe UI', 'Helvetica Neue', 'Roboto', sans-serif;

}

.TopBar {
    /* background-color: red; */
    padding: 2pt 5pt 2pt 5pt;
}

ul {
    list-style: none;
    padding: 0%;
}

.TopBar ul {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 0%;
}

/* .TopBar ul li {
    background-color: chartreuse;
} */


.BigText {
    /* background-color: violet; */
    font-size: xxx-large;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.BigText li {
    cursor: pointer;
}
