body {
    font-family: 'Segoe UI', 'Helvetica Neue', 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.TopBar {
    background-color: rgb(238, 238, 238);
    padding: 2pt 5pt 2pt 5pt;
    margin: -8px;
}

ul {
    list-style: none;
    padding: 0%;
}

.TopBar ul {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 0%;
}


.BigText {
    background-color: rgba(250, 235, 235, 0.7);
    font-size: xxx-large;
    position: absolute;
    top: 50%;
    padding: 0px 20px 0px 20px;
    transform: translate(0%, -50%);
}

.BigText li {
    cursor: pointer;
}
