body {
    background-repeat: no-repeat;
    font-family: 'Segoe UI', 'Helvetica Neue', 'Roboto', sans-serif;
}

/* Landing Page */

body.MakerOfGames {
    background-image: url(assets/MakerOfGames.png);
    transition: 1000ms;
}

body.ExtendedReality {
    background-image: url(assets/ExtendedReality.png);
    transition: 1000ms;
}

.TopBar {
    background-color: rgb(238, 238, 238);
    margin: -8px -8px 0px -8px;
    padding: 2pt 5pt 2pt 5pt;
    width: 100%;
}

.TopBar ul {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 0%;
}


.BigText {
    background-color: rgba(228, 228, 228, 0.9);
    color: rgb(80, 80, 80);
    font-size: xxx-large;
    font-weight: 200;
    padding: 0px 50px 0px 50px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    transition: 500ms;
}

.BigText li.Active {
    color: black;
    /* font-weight: bolder; */
    transition: 500ms;
}

ul {
    list-style: none;
    padding: 0%;
}

/* Blog */

.postContent {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 25px 0px;
}

/* Mobile */
@media only screen and (max-width: 1000px) {
    .postContent {
        flex-direction: column;
        text-align: center;
        justify-items: center;
        width: 100%;
    }
}

/* Desktop */
@media only screen and (min-width: 1001px) {
    .postContent div {
        width: 500px;
    }
}
.BlogText h1 {
    font-size: xx-large;
    font-weight: 200;
}

.BlogText h1 a {
    text-decoration: none;
    color: black;
}

.BlogText {
    text-align: center;
}
.LoadMore {
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
}

hr {
    margin: 40px 50%;
    transform: translate(-50%, 0%);
    width: 20%;
    color: rgb(189, 189, 189);
}